	<div class="white-background">
	<section class="section-container">
		<div class="container-fluid">
			<h1>COPYRIGHT NOTICE</h1>
			<p>Copyright © 2016 Metropolitan Regional Information Systems, Incorporated.</p>
			<p>All rights reserved.</p>
			<p>All materials contained on this site are protected by United States copyright law. Please review our <a href="#/pages/terms-of-use">Terms of Use</a> and <a href="#/pages/privacy-policy">Privacy Policy</a>
			for information on reproducing, distributing, transmitting, displaying,
			publishing or broadcasting content from this website. You may not alter
			or remove any trademark, copyright or other notice from copies of the
			content.</p>
			<p>For further information, or to reach a specific MRIS department <a href="http://www.mris.com/about/contact.cfm" target="_blank">contact us</a>.</p>
			<p><a href="http://www.mris.com/claims-of-infringement/" target="_blank">NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT</a></p>
		</div>		
	</section>
	</div>