<div style="float: left; width: 50%; background-color: #F2F2F2; padding: 30px;max-height:630px;overflow-y:scroll; ">
    <div style="text-align:center;margin:0px 0px 15px 0px;">
        <img style="width:250px;" src="../../images/logo-small@2x.png" />
    </div>
    <p style="font-size: 18px; font-weight: 600; margin: 0px 0px 15px 0px; color: #414141;">Welcome to TLCengine – the answer to your basic question “Can I afford to live in this house?”</p>
    <p style="font-size: 18px; font-weight: 600; margin: 0px 0px 15px 0px; color: #414141;">Hello there,</p>
    <p style="font-size: 18px; font-weight: 600; margin: 0px 0px 15px 0px; color: #414141; ">Thank you for signing up with us. </p>
    <h1 style="font-size: 30px;color:#fff;padding:10px; background-color: #F7941E;font-weight:600;">Add a little TLC to your search, login now</h1>
    <div>
        <p style="margin:5px;"><span style="font-size: 16px; font-weight: bold; margin-right: 5px; color: #414141;">Login:</span><a style="text-decoration: none; color:#F7941E;font-size:16px;font-weight:600;" href="#">keyurpatel@test.com</a></p>
        <p style="margin:5px;"><span style="font-size: 16px; font-weight: bold; margin-right: 5px; color: #414141; ">Password:</span><b style="color:#F7941E;font-size:16px;">abc123</b></p>
    </div>
    <h3 style="font-weight: 600; color: #F7941E; font-size: 24px; margin:15px 0px;">Now let us help you! </h3>
    <h2 style="font-weight: 600; color: #F7941E; font-size: 20px; margin: 0px 0px 5px 0px;">Basic Search</h2>
    <p style="font-size: 18px; font-weight: 600; margin: 0px 0px 15px 0px; color: #414141;">Receive a listing of properties based on your basic requirements (like number of bedrooms, baths)</p>
    <h2 style="font-weight: 600; color: #F7941E; font-size: 20px; margin: 0px 0px 5px 0px;">Personalized Search</h2>
    <p style="font-size: 18px; font-weight: 600; margin: 0px 0px 15px 0px; color: #414141;">Receive a listing of properties, filtered further based on your personal lifestyle preferences (affordability, commute cost, schools and other lifestyle conveniences)</p>
    <h2 style="font-weight: 600; color: #F7941E; font-size: 20px; margin: 0px 0px 5px 0px;">Total Affordability Search</h2>
    <p style="font-size: 18px; font-weight: 600; margin: 0px 0px 15px 0px; color: #414141;">Receive a listing of properties, based on 31 different cost factors that will determine your true lifestyle cost. In effect providing you the answer to your most basic question - "Can I afford to live in this house?" </p>
    <div style="text-align:center;margin:15px 0px;">
        <button style="font-size: 22px;font-weight:600; color: #fff; background-color: #F7941E; padding: 8px 30px; border: 1px solid #F7941E; border-radius: 10px; box-shadow: 4px 5px 6px rgba(0,0,0,0.6);cursor:pointer;">Let the hunt begin</button>
    </div>
</div>