<div style="float: left; width: 60%; background-color: #F2F2F2; padding: 30px;">
    <div style="text-align:center;">
        <img style="width:250px;" src="../../images/logo-small@2x.png" />
    </div>
    <h1 style="font-size: 30px;color:#fff;padding:10px; background-color: #F7941E;font-weight:600;">Forget Password</h1>
        <table>
            <tbody>
                <tr>
                    <td style="font-weight: 600; font-size: 18px; width: 18%; padding: 0px 0px 5px 0px; color: #414141;">Subject:</td>
                    <td style="font-size: 18px; font-weight: 600; color: #414141; padding: 0px 0px 10px 0px; ">Word has it, you forgot your password?</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 18px; font-weight: 600; color: #414141; padding: 0px 0px 10px 0px; ">Hi <b style="color: #F7941E;">Name</b>,</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 18px; font-weight: 600; color: #414141; padding: 0px 0px 10px 0px; ">We recently received a request to reset your password.</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 18px; font-weight: 600; color: #414141; padding: 0px 0px 10px 0px; ">You may now sign in to your <b>generic company name</b> account with your new password.</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 18px; font-weight: 600; color: #414141; padding: 0px 0px 10px 0px; ">Just copy and paste the new password into the Password text box.</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 18px; font-weight: 600; color: #414141; padding: 0px 0px 10px 0px; ">And don't worry as soon as you login you can change your password to something more familiar.</td>
                </tr>
                <tr>
                    <td style="font-size: 18px; font-weight: 600; color: #414141;">UserName :</td>
                    <td style="font-size: 18px; font-weight: 600; color: #F7941E;">username OR email address</td>
                </tr>
                <tr>
                    <td style="font-size: 18px; font-weight: 600; color: #414141;">Password :</td>
                    <td style="font-size: 18px; font-weight: 600; color: #F7941E;">password</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 18px; font-weight: 600; color: #414141; padding: 10px 0px 10px 0px; ">After logging in you may change your password by clicking on the change password link.</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 18px; font-weight: 600; color: #414141; padding: 0px 0px 10px 0px; ">Thanks</td>
                </tr>
            </tbody>
        </table>
    </div>

