<table>
    <tbody>
        <tr>
            <td style="font-weight:600;font-size:18px;">Subject:</td>
            <td style="font-size:18px;">Word has it, you forgot your password?</td>
        </tr>
        <tr>
            <td></td>
            <td style="font-size:18px;">Hi <b>Name</b>,</td>
        </tr>
        <tr>
            <td></td>
            <td style="font-size:18px;">We recently received a request to reset your password.</td>
        </tr>
        <tr>
            <td></td>
            <td style="font-size:18px;">You may now sign in to your <b>generic company name</b> account with your new password.</td>
        </tr>
        <tr>
            <td></td>
            <td style="font-size:18px;">Just copy and paste the new password into the Password text box.</td>
        </tr>
        <tr>
            <td></td>
            <td style="font-size:18px;">And don't worry as soon as you login you can change your password to something more familiar.</td>
        </tr>
        <tr>
            <td style="font-weight:600;font-size:18px;">UserName :</td>
            <td style="font-size:18px;">username OR email address</td>
        </tr>
        <tr>
            <td style="font-weight:600;font-size:18px;">Password :</td>
            <td style="font-size:18px;">password</td>
        </tr>
        <tr>
            <td></td>
            <td style="font-size:18px;">After logging in you may change your password by clicking on the change password link.</td>
        </tr>
        <tr>
            <td></td>
            <td style="font-size:18px;">Thanks</td>
        </tr>
    </tbody>
</table>
