<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        body {
            padding:0px;
            margin:0px;
        }
    </style>
</head>
<body>
    <div style="width: 90%; float: left; background-color: #F2F2F2; padding: 0% 5%; font-family: initial;">
        <div style="text-align:center;float:left;width:100%;">
            <p style="float:left;width:100%;">
                <a href="http://web.tlcengine.com/" target="_blank" style="float: left; width: auto; text-align: center; padding: 15px 0px;"><img src="../../images/logo-small@2x.png" /></a>
                <a href="#" target="_blank" style="float:right;width:auto;text-align:center;padding:15px 0px;"><img src="../../images/NorthstarLogo.png" /></a>
            </p>
                <h1 style="text-align: center; color: #FEA20F; border-bottom: 1px solid #FEA20F; display: inline-block; padding: 0px 0px 5px 0px;">Welcome! Get Started With TLCengine</h1>
        </div>
        <div style="float:left;width:100%;">
            <h3 style="font-size: 22px; color: #414141; font-weight: 500; margin: 0px 0px 15px 0px;">Hi <span style="color: #FEA20F;font-weight:bold;">Harry </span><span style="color: #FEA20F;font-weight:bold;">Raut,</span></h3>
        </div>
        <p style="font-size: 18px; color: #414141; font-weight: 500; margin: 0px 0px 15px 0px;">Welcome to TLCengine an interactive tool to get personalized home recommendations and instant notifications about new homes for sale.</p>
        <div style="float:left;width:100%;margin:15px 0px;">
            <h2 style="color:#FEA20F;margin:0px 0px 5px 0px;font-weight:bold;">What is TLC?</h2>
            <p style="font-size: 18px; color: #414141; font-weight: 500; margin: 0px 0px 15px 0px;">Wouldn’t it be great to get a total view of all hidden costs associated to owning a house in a neighborhood? Costs such as car insurance, home insurance, utilities, lawn care, water & sewer charges, personal-care, health-care, pet-care, day-care & commuting costs vary from area to area and are different from family to family. TLCengine™ (True Lifestyle Cost™) solves for over 30 lifestyle factors helping you select the right home for your lifestyle.</p>
        </div>
        <p style="float:left;width:100%;margin:0px;"><a href="#" style="padding: 10px 30px; float: left; color: #fff; font-size: 18px; background-color: #FEA20F;text-decoration:none;">Find Your TLC Today</a></p>
        <p style="float: left; width: 100%; font-weight: 500; font-size: 18px; color: #414141;">If you're interested in learning more about buying or selling with TLCengine, want to tour homes, or need local real estate advice, feel free to let me know. We also offer periodic free classes, which are another great resource for all things real estate. Asking questions, going on tour, or attending a class never obligates you to buy or sell a home with us. </p>
        <p style="float: left; width: 100%; font-weight: 500; font-size: 18px; color: #414141;">I hope you will enjoy the website, and thanks for giving TLCengine a try.</p>
        <p style="width:100%;float:left;">
            <span style="font-weight: 600; font-size: 18px; color: #414141;">Kamal Raut</span>
        </p>
        <div style="float:left;width:100%;margin:15px 0px;">
            <p style="width:100%;float:left;margin:0px 0px 5px 0px;">
                <img style="width:80px;height:80px;" src="../../images/client-dashboard.png" />
            </p>
            <p style="width:100%;float:left;margin:0px 0px 5px 0px;">
                <span style="float: left; border-right: 1px solid #414141; padding: 0px 15px 0px 0px; margin: 0px 15px 0px 0px; font-weight: 600; color: #FEA20F; font-size: 22px;"><label style="color: #414141; padding-right:5px;">Name: </label>Kamal</span><span style="font-weight: 600; color: #FEA20F; font-size: 22px;"><label style="color: #414141; padding-right:5px;">Brokerage: </label>IPS</span>
            </p>
            <p style="width:100%;float:left;margin:0px 0px 5px 0px;">
                <span style="float: left; border-right: 1px solid #414141; padding: 0px 15px 0px 0px; margin: 0px 15px 0px 0px; font-weight: 600; color: #FEA20F; font-size: 22px;"><label style="color: #414141; padding-right:5px;">Mobile: </label>987 665 3212</span><span style="float: left; border-right: 1px solid #414141; padding: 0px 15px 0px 0px; margin: 0px 15px 0px 0px; font-weight: 600; color: #FEA20F; font-size: 22px;"><label style="color: #414141; padding-right:5px;">Email: </label> kamal@example.com</span><span style="font-weight: 600; color: #FEA20F; font-size: 22px;">Agentlicence#</span>
            </p>
        </div>
        <p style="font-size: 14px; float: left; width: 100%; color: #414141;font-weight:600;">Sent by TLCengine, 135 Mountain Ave• Piscataway, NJ08854 ©2014 TLCengine. All rights reserved.</p>
        <div>
            <img style="float:left;" src="../../images/unnamed.png" />
            <p style="float: left; width: 70%; font-weight: 600; font-size: 14px; color: #414141;margin:0px 30px;">
                Information deemed reliable but not guaranteed.</br>
                Customers to verify all information to their own satisfaction.</br>
                If you are currently working with a real estate agent, this is not meant as a solicitation of your business.</br>
                <a href="#" style="margin: 10px 0px; float: left; color: #FEA20F;font-weight:bold;">Unsubscribe</a>
            </p>
        </div>
    </div>
</body>
</html>
