<div class="white-background">
    <section class="section-container">
        <div class="container-fluid">
            <h1>TERMS OF SERVICE AGREEMENT</h1>
            <p>Welcome to this Metropolitan Regional Information Systems, Inc. ("MRIS") Web site. Through this Web site and its network of MRIS owned and controlled Web properties, sites and services including MRIShomes.com (<a target="_blank" href="http://www.mrishomes.com/">www.mrishomes.com</a>)&nbsp;(collectively, the "Site"), MRIS provides access to a variety of real
                estate-related informational content, products, services and resources provided by MRIS and other content providers. This Site is made available subject to the terms and conditions of this agreement
                (collectively, the "Agreement").</p>
            <p>This Agreement is between you, the user of this Site, and MRIS. Please read this Agreement carefully before accessing or using this Site. By accessing or using this Site you agree to be legally bound by this Agreement. IF YOU DO NOT AGREE TO THE
                TERMS OF THIS AGREEMENT, YOU MAY NOT ACCESS OR USE THIS SITE. If you have questions about this Site or this Agreement, you may contact MRIS by sending an email to <a target="_blank" href="http://www.mris.com/about/feedback/index.cfm?WantTo=ContactCompliance">Compliance</a>.</p>
            <p><b><span>UPDATES TO THIS AGREEMENT.</span></b> MRIS reserves the right to modify this Agreement at any time. Any modifications will become effective immediately upon posting to this
                Site. You agree that it is your responsibility to review the Agreement periodically to be aware of such modifications, as your continued access or use of this Site shall be deemed your conclusive acceptance of the
                modified Agreement. The most current version of this Agreement may be reviewed by clicking on the "Terms of Use" hypertext link located at the bottom of this Site's pages.</p>
            <p><b><span>OWNERSHIP.</span></b> This Site, including its informational content (e.g., listing information, HTML or other code, pages, graphics, software and all other materials associated
                or within this Site) (collectively, the "Content"), and the compilation of the Content and the "look and feel" of this Site, and all products, services, databases, and any other intellectual property of MRIS or its
                licensors or service providers, and all parts and derivatives thereof, are and shall remain the sole property of MRIS and its licensors and service providers, including all associated copyrights and other
                intellectual property rights. Your rights are under license only, nothing shall be deemed to grant or transfer to you any ownership rights. Use of any Content or other portions of this Site are subject to
                the terms of this Agreement.</p>
            <p>No portion of the Content or any other such materials may be used or otherwise exploited for any purpose and in any form without the express written permission of MRIS and, as
                applicable, its licensors and service providers. Unless otherwise specified, this Site is provided for your own personal use only. You may not modify, copy, distribute, transmit, display, perform, reproduce,
                publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from this Site.</p>
            <p>You agree to abide by and not to remove, modify or obscure any copyright or other proprietary rights notices and usage restrictions on this Site, or any Content or other materials, or on any copies or versions thereof.
                All rights not expressly granted are reserved.</p>
            <p><b><span>YOUR USE OF THIS SITE.</span></b>
                Your authorization to access and make use of this Site (and the materials and Content available via this Site) is a privilege, not a right, and is subject to the terms and conditions of this Agreement. You
                agree that you are fully responsible for all of your activities, transmissions and transactions while using this Site and for any accounts that may be established by or for you (including for any payments accrued, and for any informational content and other materials
                you may access, submit, receive or transmit while using this Site).</p>
            <p><b><span>NO UNAUTHORIZED USE PERMITTED.</span></b>
                You agree not to use this Site or any Content or other materials you may access to engage in any unauthorized or inappropriate conduct or for any unlawful purpose. Broadly stated, this includes any conduct that is
                unlawful, untruthful, tortious or that is harmful to (or puts at risk) MRIS or any other party or property; that violates another party's privacy or other rights; or that otherwise interferes with the
                operation, use or enjoyment of any service, system or other property. You agree to follow any acceptable use policies and other similar policies applicable to your use of this Site (collectively, the "AUPs").</p>
            <p>MRIS reserves the right to investigate, involve and cooperate with appropriate authorities regarding any fraudulent or other illegal or unauthorized activities involving this Site, and to disclose any
                information necessary for such purpose. All rights not granted expressly are reserved. Unauthorized attempts to violate the integrity of this Site or any of MRIS's services, or to use Content, are strictly
                prohibited and may be punishable by law, including under the United States Copyright Act and the Computer Fraud and Abuse Act of 1986.</p>
            <p><b><span>SPIDERING, SCRAPING AND SIMILAR ACTIVITIES ARE PROHIBITED.</span></b> In addition, you are prohibited from directly or indirectly using any data or content extraction tool, or any other manual, computerized or
                automated mechanism, to access, compile, or otherwise download or extract any content or information from this Site or any of MRIS's services, except as expressly authorized by MRIS in writing. This
                prohibition includes use of any data mining tools, spiders, robots, scrapers or similar tools or technologies.</p>
            <p><b><span>POLICY REGARDING EMAIL AND SIMILAR COMMUNICATIONS. SPAM IS PROHIBITED.</span></b> MRIS prohibits the use of MRIS Products in any manner associated with the transmission, distribution or delivery of any unsolicited bulk or
                unsolicited commercial email ("SPAM").</p>
            <p>You may not use any MRIS services to send SPAM, or send SPAM to any MRIS subscribers or customers using any MRIS service or information obtained from any MRIS service. You also may not authorize others to do so. Prohibited activities
                include, by way of illustration, sending unsolicited bulk commercial email, sending large volumes of unsolicited email (whether or not commercial), and facilitating such activities. The term "SPAM" means any
                unsolicited bulk email communications.</p>
            <p>As with all MRIS tools and services, MRIS-provided communication tools and services may be used only for lawful purposes. You are fully responsible and liable for complying with all laws applicable to any communications that you send
                or authorize, including complying with the CAN-SPAM Act of 2003. MRIS does not authorize the use of any MRIS service to harvest or collect information about MRIS subscribers, including screen names, email
                addresses or similar contact information, for purposes of sending or enabling the dissemination of SPAM or any unlawful or other prohibited communications.</p>
            <p>You also may not send or authorize to be sent via any MRIS service any communication that: (1) misrepresents the sender or the source of the communication (e.g., by forging any TCP-IP packet
                header or any information contained in the header of any email communication); (2) seeks to impersonate any person, or uses or contains invalid or non-existent domain names; (3) employs any technique to
                otherwise misrepresent, hide or obscure any source information; (4) constitutes deceptive addressing; uses or relays through a third party's internet domain name without consent; (5) contain false or misleading
                information in the subject line or otherwise contain false or misleading content; or (6) that is harmful, threatening, harassing, or that would reasonably be expected to be harmful to MRIS or any of its customers or
                subscribers.</p>
            <p>MRIS reserves the right to take any appropriate legal action and to implement technical remedies to enforce this policy or to respond to violations. Violation of this Section, may result in
                civil, criminal, or administrative penalties against the sender and those assisting the sender. MRIS may immediately investigate and terminate any account which it determines, in its sole reasonable
                opinion, is violating this policy. Failure to act in every instance does not amount to a waiver of any of MRIS's rights, all of which are reserved.</p>
            <p><b><span>SECURITY; USE OF ACCOUNTS.</span></b> You agree that you, and not MRIS, are solely responsible for your own security in using this Site, and for selecting and implementing any precautions you deem
                to be appropriate and best suited for your situation and intended use of this Site.</p>
            <p>If any portion of this Site requires you to open an account, you must complete the registration process by providing us with current, complete and accurate information as prompted by the
                applicable registration form. You also may have a Site account and password through a separately existing MRIS account. You are entirely responsible for maintaining the confidentiality of your passwords and
                accounts. You agree that MRIS is the sole owner of the information collected via this Site. Furthermore, you are entirely responsible for any and all activities that occur under your accounts.</p>
            <p>You agree to notify MRIS immediately of any unauthorized use of your accounts or any other breach of security. MRIS will not be liable for any loss that you may incur as a result of someone else using your password or
                accounts, either with or without your knowledge. However, you could be held liable for losses incurred by MRIS or another party due to someone else using your accounts or passwords. You may not use anyone else's
                account at any time, without the permission of the account holder.</p>
            <p><b><span>PRIVACY POLICY.</span></b> Your privacy is very important to MRIS. MRIS's online information practices with respect to this Site are described in this Site's privacy
                policy ("Privacy Policy"), which you may review at the following URL:<a href="#/pages/privacy-policy">&nbsp;</a><a href="#/pages/privacy-policy"></a><a href="#/pages/privacy-policy"></a><a href="#/pages/privacy-policy">Privacy Policy</a></p>
            <p><span><b>TERMINATION OF SERVICE; UPDATES TO THIS AGREEMENT</b>.</span> MRIS reserves the right, at any time and for any reason, to change, terminate, limit, suspend or discontinue this Site (in whole or in part)
                or your (or anyone else's) access to or use of this Site. You agree that MRIS shall not be liable for doing so. Upon any termination, your rights to use this Site will immediately cease. In addition, MRIS may,
                in its sole discretion, refuse to accept an application for an account and/or refuse or restrict its services to anyone at any time, for any lawful reason.</p>
            <p><b><span>SOFTWARE MADE AVAILABLE VIA THIS SITE.</span></b> Any software that is made available to download from this Site ("Software") is the property of MRIS and/or its licensors. Use of the Software is governed by the terms of the applicable end user license
                agreement, if any, which accompanies or is included with the Software (the "License Agreement. An end user may not install or use any Software that is accompanied by or includes a License Agreement, unless he or
                she first agrees to the License Agreement terms.</p>
            <p>The Software is made available for download solely for use by authorized end users according to the License Agreement. Any reproduction or redistribution of the Software not in accordance with the License Agreement is
                expressly prohibited, and may result in civil and criminal penalties.</p>
            <p><b><span>LICENSE TO USE SOFTWARE.</span></b> If and to the extent any Software of MRIS ("MRIS Software") does not have an accompanying License Agreement, the terms of this Section and this Agreement shall govern Your use of such MRIS Software. Subject to
                the terms and conditions of this Agreement, MRIS grants to You the following rights with respect to such MRIS Software, on a personal, non-exclusive and non-transferable basis:</p>
            <ol>
                <li>to make such
                    copies of the MRIS Software, in machine-readable, object-code form only,
                    as are necessary to install and operate the MRIS Software on Your
                    computers, solely for Your use in connection with Your business purposes
                    within the region MRIS serves (the "Region");</li>
                <li>to use the MRIS
                    Software to access and use the MRIS Service using Your authorized
                    Account Information, and to access, download and use the Content
                    available on the MRIS Service that You are authorized to access and use;
                    and</li>
                <li>to make a reasonable number of copies of such MRIS Software for Your backup and archival purposes.</li>
            </ol>
            <p>You are expressly prohibited from:</p>
            <ol class="lettered">
                <li>using
                    the MRIS Software for business purposes outside the Region, except for
                    reasonable incidental use when You are physically outside the Region and
                    need to access the MRIS Service remotely;</li>
                <li>transferring or
                    duplicating the MRIS Software except for (1) Your own internal or
                    personal use and (2) preparation of a reasonable number of backup or
                    archival copies;</li>
                <li>assigning, timesharing, selling, leasing, lending or renting the MRIS Software;</li>
                <li>using the MRIS Software for any purpose other than accessing, using and retrieving information from the MRIS Service;</li>
                <li>causing
                    or permitting the modification, reverse engineering, reformatting,
                    recasting, disassembly, or decompilation of the MRIS Software; and</li>
                <li>disclosing, demonstrating or displaying the MRIS Software to anyone except bona fide prospective home buyers and sellers.</li>
            </ol>
            <p>Title to the MRIS Software is retained by MRIS or its licensor(s) as applicable, and shall not pass to You.</p>
            <p><b><span>DISCLAIMER OF WARRANTY.</span></b> YOU ACKNOWLEDGE AND AGREE THAT THIS SITE IS PROVIDED SOLELY AS A CONVENIENCE TO THIS SITE'S VISITORS AND USERS, ON AN "AS IS" AND "AS 			AVAILABLE" BASIS. THE ENTIRE RISK OF USING THIS SITE IS WITH YOU. TO THE
                MAXIMUM EXTENT ALLOWABLE AT LAW, MRIS EXPRESSLY DISCLAIMS AND MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED OR
                STATUTORY, INCLUDING WITHOUT LIMITATION ANY IMPLIED OR OTHER WARRANTIES: (i) OF MERCHANTABILITY, OF FITNESS FOR A PARTICULAR PURPOSE,
                NON-INFRINGEMENT, WORKMANLIKE EFFORT, QUALITY, ACCURACY, TIMELINESS, CORRECTNESS, COMPLETENESS, RELIABILITY, TITLE, QUIET ENJOYMENT, NO
                ENCUMBRANCES, NO LIENS, OR SYSTEM INTEGRATION; (ii) CONFORMANCE TO ANY DEMONSTRATION OR PROMISE; (iii) ARISING THROUGH COURSE OF DEALING,
                COURSE OF PERFORMANCE OR USAGE OF TRADE, OR (iv) THAT THIS SITE (IN WHOLE OR IN PART) OR ANY INFORMATIONAL CONTENT, OR ANY ACCESS OR USE
                THEREOF, WILL BE UNINTERRUPTED, ERROR FREE, USEFUL, FUNCTIONAL, OR COMPLETELY SECURE, OR THAT PROBLEMS WILL BE CORRECTED. NO ADVICE OR
                INFORMATION GIVEN BY MRIS OR ITS REPRESENTATIVES SHALL CREATE ANY
                WARRANTY.</p>
            <p><b><span>LIMITATIONS OF LIABILITY.</span></b> <span>(a)</span>
                YOU ACKNOWLEDGE AND AGREE THAT THIS SITE IS PROVIDED SOLELY FOR YOUR
                CONVENIENCE AND WITHOUT LIABILITY OF ANY KIND ON THE PART OF MRIS OR ANY
                OF ITS LICENSORS, MEMBERS, OR SERVICE PROVIDERS, INCLUDING WITHOUT
                LIMITATION, FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL,
                INCIDENTAL, PUNITIVE OR EXEMPLARY DAMAGES (INCLUDING FOR LOST PROFITS,
                LOSS OF BUSINESS, BUSINESS INTERRUPTION, LOSS OF DATA, OR OTHER SIMILAR
                DAMAGES) ARISING OUT OF OR RELATED TO THIS AGREEMENT OR THIS SITE; EVEN
                IF ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES. <span>(b)</span> YOU
                FURTHER AGREE THAT IF FOR ANY REASON ANY OF THE FOREGOING LIMITATIONS OF
                LIABILITY IS HELD TO FAIL OF ITS ESSENTIAL PURPOSE OR IS OTHERWISE
                DEEMED TO BE UNENFORCEABLE FOR ANY REASON, THEN THE MAXIMUM AGGREGATE,
                CUMULATIVE LIABILITY OF MRIS, ARISING OUT OF OR RELATED TO THIS
                AGREEMENT AND THIS SITE SHALL NOT EXCEED YOUR DIRECT DAMAGES ACTUALLY
                INCURRED, IF ANY, UP TO ONE HUNDRED DOLLARS ($100) OR THE AMOUNTS YOU
                PAID TO MRIS FOR USE OF THIS SITE, WHICHEVER IS GREATER. <span>(c)</span>
                YOU AGREE THAT THE LIMITATIONS IN THIS SECTION SHALL BE DEEMED TO APPLY
                TO ALL CAUSES OF ACTION AND ALL LEGAL THEORIES, WITHOUT REGARD TO
                WHETHER THE DAMAGES ARISE FROM BREACH OF CONTRACT, BREACH OF WARRANTY,
                NEGLIGENCE OR OTHER TORTS.</p>
            <p><b><span>LINKS TO OTHER SITES.</span></b>
                This Site contains links to third party Web sites, resources and
                informational content ("linked sites"). These links are provided solely
                as a convenience to you and are not meant to constitute an endorsement
                by MRIS of the contents on such third-party materials. The linked sites
                are not under the control of MRIS and MRIS is not responsible for any of
                the materials available from any linked sites. MRIS disclaims all
                responsibility and liability with regard to your access to or use of
                such linked sites.</p>
            <p><b><span>ADDITIONAL TERMS.</span></b> Certain areas
                or aspects of this Site may be subject to additional rules, policies
                procedures, and/or terms (collectively, the "Additional Terms"). You
                agree to comply with the Additional Terms, and you understand that your
                use of those areas or aspects of this Site is conditioned on your
                compliance with the Additional Terms. If and to the extent there is a
                conflict between this Agreement and such Additional Terms, the
                Additional Terms shall control with respect to their subject matter.</p>
            <p><b><span>TRADEMARKS.</span></b>
                The MRIS name and logo, and other MRIS logos and product and service
                names are the trademarks or registered trademarks of MRIS and MRIS's
                property. These marks may not be used for any purpose without the
                express written permission of MRIS. Other trademarks used on this Site
                are the property of the respective owners.</p>
            <p><b><span>NOTICES AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT.</span></b>
                Pursuant to Title 17, United States Code, Section 512(c)(2),
                notifications of claimed copyright infringement should be sent to MRIS's
                designated agent, using the form and following the procedure set forth
                in this document: <a target="_blank" href="http://www.mris.com/claims-of-infringement">NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT</a>. ANY INQUIRIES NOT RELEVANT TO THIS PROCEDURE WILL NOT RECEIVE A RESPONSE. You may <a href="mailto:copyrights@mris.net">email copyright</a> if you have any questions about the procedure and submission policy.</p>
            <p><b><span>NON-CIRCUMVENTION.</span></b> As a condition of your using this Site, you agree not to: (i) seek to circumvent MRIS, or (ii) harm MRIS's relationship with any buyer or
                seller of any property, or with any other party.</p>
            <p><b><span>DISPUTE RESOLUTION.</span></b> Except for the right of MRIS to seek injunctive relief or other equitable remedies and except for MRIS's right to bring suit to protect
                its confidential information and intellectual property rights, all claims, disputes and controversies and other matters in question between
                the parties to this Agreement, arising out of, or relating to this Agreement, or the breach thereof, or this Site, which cannot be resolved
                by the parties, shall be settled by binding arbitration pursuant to the Federal Arbitration Act and the rules then in effect of the American
                Arbitration Association under its commercial Arbitration Rules (unless you are an individual, in which case its consumer rules will apply) and
                judgment on the award rendered by the arbitrator(s) may be entered in any court having jurisdiction thereof. Not withstanding any provisions
                in such rules to the contrary, the arbitrator(s) shall have no authority to add or detract from the agreements of the parties. You expressly
                agree that any claim, dispute and controversy shall be arbitrated on an individual basis and not aggregated with the claims of any third party;
                class action arbitration is prohibited.</p>
            <p><b><span>MISCELLANEOUS.</span> </b>You hereby consent to the exclusive jurisdiction and venue of state or federal courts in the State of Maryland, USA in all disputes arising out
                of or relating to this Agreement and this Site, subject to the dispute resolution provisions listed above. You may not assign this Agreement
                without MRIS's prior written consent, which shall not be unreasonably withheld; MRIS may assign this Agreement upon notice to you. Notices
                given by you to MRIS must be given by postal mail to MRIS at 9707 Key West Avenue, Suite 200, Rockville, Maryland 20850-3334, unless MRIS
                indicates otherwise. All notices to MRIS shall be sent to the attention	of President &amp; CEO (unless MRIS specifies otherwise). This Agreement
                is solely between you and MRIS. This Agreement does not create, and you	and MRIS expressly disclaim, any third-party beneficiary relationships.
                If any part of this Agreement is determined to be invalid or unenforceable pursuant to applicable law, then the invalid or
                unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the
                original provision and the remainder of this Agreement will continue in effect. The section titles in this Agreement are solely used for the
                convenience of the parties and have no legal or contractual significance. Except as expressly stated otherwise herein, this
                Agreement, together with the Privacy Policy, the AUPs and the other Additional Terms (all of which are incorporated into this Agreement)
                collectively constitutes the entire agreement between you and MRIS regarding their subject matter, and supersede all prior or
                contemporaneous communications, whether electronic, oral or written, between you and MRIS with respect to such subject matter. All provisions
                of this Agreement that by their nature or understanding reasonably should survive the termination of this Agreement shall survive. Titles
                and headings are used for reference purposes only and shall not be used to interpret the terms of this Agreement.</p>

        </div>
    </section>
</div>