<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div ng-controller="AddMozaicBookmark" class = "modal fade" id = "add-mozaic-bookmark-modal" tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true">-->

    <!--<div class = "modal-dialog">-->
        <!--<div class = "modal-content">-->

            <!--<div class = "modal-header">-->
                <!--<button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">-->
                    <!--X-->
                <!--</button>-->

                <!--<h4 class = "modal-title" id = "myModalLabel">-->
                    <!--Add Property-->
                <!--</h4>-->
            <!--</div>-->
            <!--<form role="form">-->
                <!--<div class = "modal-body">-->
                    <!--&lt;!&ndash; <h4 class="header-strip">Add to participant(s) list</h4>-->
                    <!--<div class="checkbox">-->
                        <!--<label><input type="checkbox" value="">Select all participants</label>-->
                    <!--</div>-->
                    <!--<div class="thumb clearfix">-->
                        <!--<img src="images/test.jpg" alt="Cinque Terre">-->
                        <!--<h3>My List</h3>-->
                        <!--<label><input type="checkbox" value=""> Add to list</label>-->
                    <!--</div> &ndash;&gt;-->

                    <!--<h4 class="header-strip">Email notifications</h4>-->
                    <!--<div class="popup-content clearfix">-->
                        <!--&lt;!&ndash; <div class="pull-left">-->
                            <!--<p>Email me property updates about:</p>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input id="mozaic_add_favorite_price_change" type="checkbox" value="">Price Change</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input id="mozaic_add_favorite_status_change" type="checkbox" value="">Status Change</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input id="mozaic_add_favorite_open_house" type="checkbox" value="">Open House</label>-->
                            <!--</div>-->
                        <!--</div> &ndash;&gt;-->
                        <!--<div class="pull-left">-->
                            <!--<p>Email me property updates about:</p>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input id="mozaic_add_favorite_price_change" type="checkbox" value="">Price Change</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input id="mozaic_add_favorite_status_change" type="checkbox" value="">Status Change &nbsp; &nbsp; &nbsp; &nbsp;</label>-->
                            <!--</div>-->
                            <!--<div class="checkbox">-->
                                <!--<label><input id="mozaic_add_favorite_open_house" type="checkbox" value="">Open House</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="pull-right">-->
                            <!--<p>When do you want to be notified?</p>-->
                            <!--<select class="form-control" id="mozaic_add_favorite_enable_notification">-->
                                <!--<option>No Notification</option>-->
                                <!--<option>ASAP</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="popup-border"></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="popup-content1">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="star-float">My Rating</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div id="stars-existing" class="starrr" data-rating='0'></div>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash; You gave a rating of <span id="count-existing">4</span> star(s) &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<h4 class="header-strip">Comments</h4>-->
                    <!--<div class="popup-content">-->
                        <!--<p>Email me property updates about:</p>-->
                        <!--<textarea id="mozaic_add_favorite_comments" class="pop-textarea"></textarea>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class = "modal-footer">-->
                    <!--<button type = "button" ng-click="submitBookmark()" class = "btn btn-primary btn-background">-->
                        <!--Submit-->
                    <!--</button>-->
                    <!--<button type = "button" class = "btn btn-primary btn-background" data-dismiss = "modal">-->
                        <!--Cancel-->
                    <!--</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->

<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->