<div id="content">
  <!-- HOX2: added aside -->
  <aside id="content_overlay"></aside>
  <article pscrollbar>
    <div class="content-map-page">
      <!-- [ S ] Content -->
      <div id="editprofile-page" class="changepassword">
        <div class="content">
          <div class="client_form_md">
            <div class="page_title text-center">
              <h1>Change Password</h1>
            </div>
          </div>
          <form name="frmChangePassword" novalidate>
            <div class="property-sort-infobo">
              <div class="editprofile_form">
                <div class="row-10mg editprofile_form_md">
                    <div class="form-group col-md-12">
                      <label for="CurrentPassword">Current Password</label>
                      <input type="password" class="form-control" id="CurrentPassword" ng-model="userAuth.CurrentPassword" name="CurrentPassword" aa-field-name="Current Password" maxlength="15" required>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="NewPassword">New Password</label>
                      <input type="password" class="form-control" id="NewPassword" ng-model="userAuth.NewPassword" name="NewPassword" aa-field-name="New Password" maxlength="15" required>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="ConfirmNewPassword">Confirm New Password</label>
                      <input type="password" class="form-control" id="ConfirmNewPassword" ng-model="userAuth.ConfirmNewPassword" name="ConfirmNewPassword" aa-field-name="Confirm New Password" maxlength="15" required compare-to="userAuth.NewPassword" >
                    </div>
                </div>
                <div class="button">
                  <input class="btn btn-success" type="button" value="Back" ng-click="back()" />
                  <input class="btn btn-success" type="button" value="Save" aa-submit-form="changePassword()" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- [ E ] Content -->
    </div>
  </article>
  <div id="handle">
    <div></div>
  </div>
</div>

