<!-- <footer>
    <a href="#" id="footerback">Back</a>
    <ul>
        <li><a href="javascript:void(0)" ng-click="legal()">Legal</a></li>
        <li class="terms_disclaimer">
          <a href="javascript:void(0)" ng-click="">Terms and Disclaimer</a>
          <div class="terms_text">
            <p>{{BrokerReciprocityTextLarge}}</p>
          </div>
        </li> -->
        <!--<li>
          <a href="javascript:void(0)" ng-click="feedback()">Feedback</a>
        </li>-->
    <!-- </ul> -->
    <!--<a href="#" id="learnmore">Learn more about Total Lifestyle Cost</a>-->
<!-- </footer> -->


