<div class="video container-fluid">
    <img src="../images/mozaic_page_banner.jpg">
    <div class="video-2 container-fluid">
    <div class="container">
        <div class="col-md-7 col-sm-12 col-xs-12">
            <h1 id="mozaic-heading">Welcome to a more connected, simple and fun home search</h1>
            <div class="col-md-12 margin-below row">
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <div class="square-box blue"></div>
                </div>
                <div class="col-md-11 col-sm-11 col-xs-10">
                    <h2>Everything's in one place.</h2>
                    <p>- Save your favorite properties and connect with agents in your area.</p>
                </div>
            </div>

            <div class="col-md-12 margin-below row">
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <div class="square-box rose"></div>
                </div>
                <div class="col-md-11 col-sm-11 col-xs-10">
                    <h2>Share your search instantly with family and friends.</h2>
                    <p>- Get feedback from the ones who know you best.</p>
                </div>
            </div>

            <div class="col-md-12 margin-below row">
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <div class="square-box purple"></div>
                </div>
                <div class="col-md-11 col-sm-11 col-xs-10">
                    <h2>Get updates on the go.</h2>
                    <p>- Never miss out on the latest properties - Mozaic is optimized for all your devices.</p>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-1 col-sm-1">
                </div>
                <div class="right-content col-md-11 col-xs-10">
                    <h2>Ready to find your perfect home the easy way?</h2>
                    <h2>Be part of Mozaic today!</h2>
                    <br>
                    <h2 class="purple-font">
                    It only takes a few minutes to Sign Up and it's free!
                    <span id="mozaic-signup" onClick="signupPopup()">Sign Up Now! 
                        <img src="../images/mozaic_signup.jpg" alt="Mozaic Sign Up" >
                    </span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-sm-12 col-xs-12 full-frame">
            <aside>

            <!--By use of this code snippet, I agree to the Brightcove Publisher T and C found at https://accounts.brightcove.com/en/terms-and-conditions/.-->
             
            <script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
             
            <object id="myExperience" class="BrightcoveExperience embed-responsive-item">
              <param name="bgcolor" value="#FFFFFF" />
              <param name="width" value="450" />
              <param name="height" value="520" />
              <param name="playerID" value="4332993650001" />
              <param name="playerKey" value="AQ~~,AAABLvDG6Pk~,2VNTp73nVBjm-1H-xkOuHoLnp8x0FKeW" />
              <param name="isVid" value="true" />
              <param name="isUI" value="true" />
              <param name="dynamicStreaming" value="true" />
             
            </object>
             
            <!-- This script tag will cause the Brightcove Players defined above it to be created as soon as the line is read by the browser. If you wish to have the player instantiated only after
            the rest of the HTML is processed and the page load is complete, remove the line. -->
            <script type="text/javascript">brightcove.createExperiences();</script>
 
            </aside>
        </div>

    </div>
    </div>
</div>


